/* General styles */
.form__container {
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    gap: 95px;
    height: 91vh;
    overflow: hidden;
}

.form__bg {
    background: #5A4141;
    height: 100%;
    width: 100%;
}

.form__right > p {
    margin-bottom: 60px;
    text-align: right;
}

.form__right h2 {
    margin-bottom: 36px;
    font-weight: 700;
    font-size: 26px;
    line-height: 130%;
    color: var(--color-text);
}

.sign__right {
    margin-top: 20vh;
}

.register__right {
    margin-top: 10vh;
}

.form {
    width: 410px;
}

.form__data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    width: 100%;
}

.sign__data {
    margin-bottom: 36px;
}

.sign__data .input-wrap input[type='text'] {
    width: 410px;
}

.input-wrap label {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-text);
}

.input-wrap input {
    width: 410px;
    height: 40px;
    margin-top: 6px;
    padding: 0.8rem;
    background: var(--color-white);
    border: 1px solid var(--color-bg-variant);
    border-radius: 5px;
}

.input-wrap input[type='text'] {
    width: 190px;
}

/* checkbox */
.checkbox {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 0.8rem 0;
}

.checkbox__input {
    margin-top: 8px;
}

/* button */
.form .btn {
    background: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-text);
}

.form .btn:hover {
    border: 1px solid var(--color-primary);
    background: transparent
}

/* animation */
.form__bg {
    opacity: 0;
    animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}