@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');

:root {
    --color-bg: #FDF8EF;
    --color-bg-variant: #F5EEE3;
    --color-text: #1E1E1E;
    --color-heading: #644930;
    --color-primary: #C2AA82;
    --color-primary-variant: #7C6145;
    --color-white: #FFFFFF;

    --font-main: 'Montserrat', sans-serif;
    --font-heading: 'Playfair Display', serif;

    --transition: all 700ms ease-out;

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 100%;
  }
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--color-bg);
    color: var(--color-text);
}

html,
body {
    scroll-behavior: smooth;
}
 
::-webkit-scrollbar {
    display: none;
}

/* =====General styles===== */

.container {
    max-width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

li {
    list-style: none;
}

.btn {
    display: block;
    width: max-content;
    font-family: var(--font-main);
    font-size: 16px;
    padding: 0.6rem 1.5rem;
    font-weight: 600;
    background: transparent;
    color: var(--color-text);
    border: 2px solid var(--color-primary-variant);
    /* border-radius: 0.4rem; */
    cursor: pointer;
    transition: color 700ms ease-out;
}

.hover-diagonal {
    position: relative;
    background: transparent;
    overflow: hidden;
    z-index: 1;
}

.hover-diagonal:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
    height: 1000%;
    background: var(--color-primary-variant);
    z-index: -1;
    transform-origin: 0% 0%;
    transform: translateY(10%) translateX(16%) rotate(-45deg);
    transition: var(--transition);
}

.hover-diagonal:hover::after {
    transform: translateY(10%) translateX(-25px) rotate(-45deg);
    transition: var(--transition);
}

.btn:hover {
    color: var(--color-white);
    transition: var(--transition);
}

.btn-primary {
    color: var(--color-white);
    transition: var(--transition);
}

.hover-diagonal_light {
    position: relative;
    background: var(--color-primary-variant);
    overflow: hidden;
    z-index: 1;
}

.hover-diagonal_light:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
    height: 1000%;
    background: var(--color-bg);
    z-index: -1;
    transform-origin: 0% 0%;
    transform: translateY(10%) translateX(16%) rotate(0deg);
    transition: var(--transition);
}

.hover-diagonal_light:hover::after {
    transform: translateY(10%) translateX(-25px) rotate(-45deg);
    transition: var(--transition);
}

.btn-primary:hover {
    color: var(--color-text);
    transition: var(--transition);
}

input {
    outline: transparent;
    border: transparent;
}

.icon {
    cursor: pointer;
}

/* display type */
.flex {
    display: flex;
}

.grid {
    display: grid;
}

/* flex-* */

.jc-c {
    justify-content: center;
}

.jc-sb {
    justify-content: space-between;
}

.jc-fe {
    justify-content: flex-end;
}

.ai-c {
    align-items: center;
}

.column {
    flex-direction: column;
}

.gap_6 {
    gap: 6px;
}

.gap {
    gap: 24px;
}

/* paddings */

.pt12 {
    padding-top: 12px;
}

.pt24 {
    padding-top: 24px;
}

.pt48 {
    padding-top: 48px;
}

.pb12 {
    padding-bottom: 12px;
}

.pb24 {
    padding-bottom: 24px;
}

.pb48 {
    padding-bottom: 48px;
}

/* margins */
.m-auto {
    margin: auto;
}

.mt12 {
    margin-top: 12px;
}

.mt24 {
    margin-top: 24px;
}

.mt48 {
    margin-top: 48px;
}

.mb12 {
    margin-bottom: 12px;
}

.mb24 {
    margin-bottom: 24px;
}

.mb36 {
    margin-bottom: 36px;
}

.mb48 {
    margin-bottom: 48px;
}

/* =====media===== */


@media screen and (max-width: 1200px) {
    .container {
        width: var(--container-width-lg);
    }
}

@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: var(--container-width-sm);
        padding: 0 15px;
    }
}