.register__container {
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    height: 100vh;
    overflow: hidden;
}

.register__bg {
    background: #5A4141;
    height: 100%;
    width: 100%;
}