.card__wrapp {
    position: relative;
    width: 348px;
    height: 493px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.card__favourite {
    position: absolute;
    top: 12px;
    right: 12px;
    color: var(--color-white);
}

.card__img {
    width: 100%;
    height: 208px;
}

.card__data {
    padding: 24px;
    font-weight: 200;
    line-height: 130%;
}

.card__data h4 {
    font-weight: 500;
    font-size: 26px;    
}

.card__data p {
    margin-bottom: 12px;
    font-size: 14px;
}

.card__data .card__data_price {
    margin-bottom: 36px;
    font-size: 18px;
    font-weight: 500;
}

.card__icons {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

.card__icons > div {
    text-align: center;
}

.card__icons p {
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
}

.card__icons span {
    font-weight: 300;
    font-size: 14px;
}

/* mobile */
@media screen and (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    .card__wrapp {
        width: 440px;
    }
}