.footer__container {
    padding: 24px 0;
    background: #AC8E74;
    color: var(--color-white);
    text-align: center;
}

.footer__icons {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 12px;
}

.footer__docs {
    margin-bottom: 12px;
}

.footer__docs > a {
    margin-right: 36px;
}