@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');

:root {
    --color-bg: #E7E4DE;
    --color-bg-variant: #F5EEE3;
    --color-text: #1E1E1E;
    --color-heading: #644930;
    --color-primary: #C2AA82;
    --color-primary-variant: #7C6145;
    --color-white: #FFFFFF;

    --font-main: 'Montserrat', sans-serif;
    --font-heading: 'Playfair Display', serif;

    --transition: all 700ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
  }
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--color-bg);
}

html,
body {
    scroll-behavior: smooth;
}
 
::-webkit-scrollbar {
    display: none;
}

/* General styles */

.container {
    width: var(--container-width-lg);
    max-width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--color-primary-variant);
}

.btn {
    display: inline-block;
    width: max-content;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 0.6rem 1.5rem;
    font-weight: 600;
    background: transparent;
    color: var(--color-text);
    border: 1px solid var(--color-primary-variant);
    border-radius: 0.4rem;
    cursor: pointer;
    transition: var(--transition);
}

.btn:hover {
    background-color: var(--color-bg);
    border-color: transparent;
    transition: var(--transition);
}

.btn-primary {
    background: var(--color-primary-variant);
    color: var(--color-bg);
}

.btn-primary:hover {
    color: var(--color-text);
    transition: var(--transition);
}

input {
    outline: transparent;
    border: transparent;
}

/* Media queries */

@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }
}