.filter__container {
    padding: 24px 0;
}

.filter {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 24px;
}

.filter .input-wrap,
.filter .input-wrap input {
    width: 240px;
}

.select-wrap {
    width: 100%;
    height: 40px;
    margin-top: 6px;
    background: var(--color-white);
    border: 1px solid var(--color-bg-variant);
    border-radius: 5px;
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 500;
}

/* mobile */
@media screen and (max-width: 768px) {
    .filter {
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
    }

    .filter .input-wrap {
        width: 40%;
    }
}